.transactionHistory {
  margin: 0 auto;
  padding: 20px 20px;
  background-color: rgb(255, 255, 255);
  width: 620px;
  margin-top: 20px;
  border: 3px solid rgba(21, 141, 147, 0.1);
  box-shadow: 5px 5px 5px rgb(51, 55, 53);
}
.thead {
  background-color: rgb(37, 191, 188);
  font-size: 16 px;
  color: #fff;
  font-family: 'Rock Salt', cursive;
  padding: 40px;
  font-style: italic;
  caption-side: bottom;
  text-align: center;
  letter-spacing: 1px;
  height: 45px;
}

.td {
  border: 2px solid rgba(22, 21, 21, 0.1);
  text-align: center;
}

.tr:nth-child(even) {
  background-color: #ddcedd;
}

table {
  background-color: #42333e;
}
